/* resume */
.resume {
    padding-top: 20px;
}

.resume-card_heading,
.reume-language_heading {
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #354538;
}

.resume-card_body {
    margin-top: 10px;
}

.resume-card_title {
    font-weight: 700;
}

.resume-card_name {
    font-size: 16px;
}

.resume-card_details {
    font-size: 0.9rem;
    padding-top: 5px;
}

/* bar */
.bar {
    width: 90%;
    background-color: #f1f2f3;
    border-radius: 20px;
    margin-bottom: 12px;

}

.bar_icon {
    width: 15px;
    height: 15px;
}

.bar_wrapper {
    background-image: linear-gradient(90deg, #4286f4, #373B44);
    border-radius: 20px;
    padding: 4px 14px;
    color: #fff;
    font-size: 0.9rem
}