@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body {
    background-image: linear-gradient(to right bottom, #4286f4, #373B44);
    background-attachment: fixed;
    color: #354538;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right bottom, #4286f4, #373B44);

}

a {
    text-decoration: none;
    color: #354548;

}

a:hover {
    text-decoration: none;
    color: #000;
}

.app_container {
    padding-top: 50px;
}

.app_row {
    height: 86vh;
}




.app_main-content {
    background-color: #fff;
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
}

/* sidebar */
.sidebar {
    background-color: #fff;
    height: 100%;
    border-radius: 20px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
    text-align: center;
}

.sidebar_avatar {
    height: 110px;
    width: 120px;
    object-fit: contain;
    border-radius: 30px;
}

.sidebar_icon {
    width: 25px;
    height: 25px;
}

.sidebar_name {
    font-family: 'Kaushan Script';
    margin: 20px 0;
    font-size: 1.7rem;
}

.sidebar_name>span {
    color: #4286f4;
}

.sidebar_item {
    margin-bottom: 6px;
    padding-top: 6px;
    height: 40px;
    font-size: 1.05rem;
    border-radius: 30px;
}

.sidebar_title {
    background-color: #f1f1f1;
    border-radius: 30px;
}

.sidebar_contact {
    background-color: #dbdddf;
    padding: 2px 0;
    margin: 20px -15px;

}

.sidebar_email {
    background-image: linear-gradient(to right bottom, #4286f4, #373B44);

    border-radius: 30px;
    color: #fff;
    margin: 15px 25px 0px;
    cursor: pointer;
    transition: all 3s linear;
}

.sidebar_email:hover {
    transform: scale(1.2);
}

.sidebar_github:hover,
.sidebar_resume:hover {
    background-color: #f1f1f2;
    color: #000;
}

@media(max-width:991px) {
    .app_main-content {
        margin: 30px 0;
    }
}

/* navbar */

.navbar_items {
    display: flex;
}

.navbar_active {
    font-size: 2rem;
    font-weight: 700;
    color: #354358;
    border-bottom: 4px solid #4286f4;
}

.navbar_item {
    margin-right: 20px;
    text-decoration: none;
    color: #354358;
    font-size: 1.3rem;
    cursor: pointer;
}

.navbar_item:hover {
    background: -webkit-linear-gradient(#4286f4, #373B44);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

@media(max-width:600px) {
    .app_main-content {
        margin-right: 10px;
        margin-left: 10px;
    }

    .navbar_active{
        font-size: 1.5rem;
    }

    .navbar_item{
        font-size: 1rem;
    }
}